p { color: wheat;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}


body {
    background-color: rgb(6, 6, 32);
}
img {
    width: 250px;  
    height: auto;
    display: block;    
    margin: 0 auto;      
}


h1, h2 {
    text-align: center;
    color:rgb(224, 230, 250)
   
}
ul{
    list-style-position: inside;
    color:antiquewhite;
    text-align: center;
    font-weight: 200;
}
button {
  background-color: gray;
  color: cadetblue;
  padding: 12px 20px;
  border-radius: 8px;
  display: inline-block;
  transition: 0.35s;
}
button:hover {
  background-color: rgb(7, 63, 65);
  color: rgb(0, 24, 104);
}